# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.manifest
*.spec

# Environment variables
.env

# Flask specific
instance/
.webassets-cache/
.coverage
coverage.xml
htmlcov/
.pytest_cache/
nosetests.xml
pip-selfcheck.json

# Application specific data folders (these will be created by the app)
uploads/
output/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo
*~
